.listing-page {
    max-width: 920px;
    min-height: 650px;
    margin: 0 auto;
    padding: 28px 60px 60px;
}

.listing-page-heading {
    margin-bottom: 34px;
    text-align: center;
}

.listing-page-heading h1 {
    font-size: 24px;
    font-weight: 500;
}

.listing-page-heading p {
    display: none;
}

@media (max-width: 650px) {
    .listing-page {
        padding: 30px 20px;
    }
}

body:has(.listing-page) {
    background-color: white;
}
